In [2]:
import pandas as pd

In [6]:
dic = {"a":[10,11,12,13], "b":[20,21,22,23], "c":[30,31,32,33]}
d = pd.DataFrame(dic)
d.to_csv("Test_new.csv")

In [9]:
 #Without index number
d.to_csv("Test_new1.csv", index=False)

In [10]:
#Changing header
d.to_csv("Test_new2.csv", index=False, header= ["_i","_ii", "_iii"])

Read CSV and Operations on CSV file

In [6]:
#Reading full csv
csv_1 = pd.read_csv("C:\\Users\\rasel\\Desktop\\Machine_learning\\Pandas\\classification.csv")
csv_1

    Obs   Outlook Tempreture  Humiodity    Wind Play Tennis
0     1     Sunny         Hot      High    Weak          No
1     2     Sunny         Hot      High  Strong          No
2     3  Overcast         Hot      High    Weak         Yes
3     4      Rain        Mild      High    Weak         Yes
4     5      Rain        Cool    Normal    Weak         Yes
5     6      Rain        Cool    Normal  Strong          No
6     7  Overcast        Cool    Normal  Strong         Yes
7     8     Sunny        Mild      High    Weak          No
8     9     Sunny        Cool    Normal    Weak         Yes
9    10      Rain        Mild    Normal    Weak         Yes
10   11     Sunny        Mild    Normal  Strong         Yes
11   12  Overcast        Mild      High  Strong         Yes
12   13  Overcast         Hot    Normal    Weak         Yes
13   14      Rain        Mild      High  Strong          No

In [8]:
#Reading specific number of rows
csv_2 = pd.read_csv("C:\\Users\\rasel\\Desktop\\Machine_learning\\Pandas\\classification.csv", nrows=5)
csv_2

   Obs   Outlook Tempreture  Humiodity    Wind Play Tennis
0    1     Sunny         Hot      High    Weak          No
1    2     Sunny         Hot      High  Strong          No
2    3  Overcast         Hot      High    Weak         Yes
3    4      Rain        Mild      High    Weak         Yes
4    5      Rain        Cool    Normal    Weak         Yes

In [10]:
#Reading specific column
csv_3 = pd.read_csv("C:\\Users\\rasel\\Desktop\\Machine_learning\\Pandas\\classification.csv", usecols=["Obs", "Outlook", "Play Tennis"], nrows=5)
csv_3
#usecols=[0,1,5] can be used as well

   Obs   Outlook Play Tennis
0    1     Sunny          No
1    2     Sunny          No
2    3  Overcast         Yes
3    4      Rain         Yes
4    5      Rain         Yes

In [12]:
#skip rows
csv_4 = pd.read_csv("C:\\Users\\rasel\\Desktop\\Machine_learning\\Pandas\\classification.csv", nrows=3, skiprows=[0])
csv_4

   1     Sunny   Hot  High    Weak   No
0  2     Sunny   Hot  High  Strong   No
1  3  Overcast   Hot  High    Weak  Yes
2  4      Rain  Mild  High    Weak  Yes

In [13]:
#Custom index
csv_5 = pd.read_csv("C:\\Users\\rasel\\Desktop\\Machine_learning\\Pandas\\classification.csv",  nrows=5, index_col=["Outlook"])
csv_5

          Obs Tempreture  Humiodity    Wind Play Tennis
Outlook
Sunny       1         Hot      High    Weak          No
Sunny       2         Hot      High  Strong          No
Overcast    3         Hot      High    Weak         Yes
Rain        4        Mild      High    Weak         Yes
Rain        5        Cool    Normal    Weak         Yes

Operations and Functions

In [14]:
csv = pd.read_csv("C:\\Users\\rasel\\Desktop\\Machine_learning\\Pandas\\classification.csv",  nrows=5)
csv

   Obs   Outlook Tempreture  Humiodity    Wind Play Tennis
0    1     Sunny         Hot      High    Weak          No
1    2     Sunny         Hot      High  Strong          No
2    3  Overcast         Hot      High    Weak         Yes
3    4      Rain        Mild      High    Weak         Yes
4    5      Rain        Cool    Normal    Weak         Yes

In [15]:
csv.index

RangeIndex(start=0, stop=5, step=1)

In [19]:
columnList = csv.columns
print(columnList)

Index(['Obs', 'Outlook', 'Tempreture ', 'Humiodity', 'Wind', 'Play Tennis'], dtype='object')

In [21]:
csv.describe() #show all description of neumerical values

            Obs
count  5.000000
mean   3.000000
std    1.581139
min    1.000000
25%    2.000000
50%    3.000000
75%    4.000000
max    5.000000

In [23]:
# csv.head() #Prints top 5 data
csv.head(2) #Prints top 2 data

   Obs Outlook Tempreture  Humiodity    Wind Play Tennis
0    1   Sunny         Hot      High    Weak          No
1    2   Sunny         Hot      High  Strong          No

In [25]:
#csv.tail() #Prints botttom 5 data
csv.tail(2) #Prints bottom 2 data

   Obs Outlook Tempreture  Humiodity  Wind Play Tennis
3    4    Rain        Mild      High  Weak         Yes
4    5    Rain        Cool    Normal  Weak         Yes

In [26]:
#Prints specific range of data
csv[1:3]

   Obs   Outlook Tempreture  Humiodity    Wind Play Tennis
1    2     Sunny         Hot      High  Strong          No
2    3  Overcast         Hot      High    Weak         Yes

In [29]:
#dataframe to numpy
print(csv.to_numpy) #2D array
#np.asarray(csv)

<bound method DataFrame.to_numpy of    Obs   Outlook Tempreture  Humiodity    Wind Play Tennis
0    1     Sunny         Hot      High    Weak          No
1    2     Sunny         Hot      High  Strong          No
2    3  Overcast         Hot      High    Weak         Yes
3    4      Rain        Mild      High    Weak         Yes
4    5      Rain        Cool    Normal    Weak         Yes>

In [31]:
#Sort
csv.sort_index(axis= 0, ascending=False)

   Obs   Outlook Tempreture  Humiodity    Wind Play Tennis
0    1     Sunny         Hot      High    Weak          No
1    2     Sunny         Hot      High  Strong          No
2    3  Overcast         Hot      High    Weak         Yes
3    4      Rain        Mild      High    Weak         Yes
4    5      Rain        Cool    Normal    Weak         Yes

In [34]:
#Changing values
csv.loc[0,"Outlook"]="Rain New"
csv

   Obs   Outlook Tempreture  Humiodity    Wind Play Tennis    SYMBOL
0    1  Rain New         Hot      High    Weak          No  Rain New
1    2     Sunny         Hot      High  Strong          No       nan
2    3  Overcast         Hot      High    Weak         Yes       nan
3    4      Rain        Mild      High    Weak         Yes       nan
4    5      Rain        Cool    Normal    Weak         Yes       nan

In [35]:
#Print specific columns and rows
csv.loc[[2,3],["Humiodity","Play Tennis"]]
#csv.loc[:,["Humiodity","Play Tennis"]]
csv.loc[[2,3],:]

  Humiodity Play Tennis
2      High         Yes
3      High         Yes

In [36]:
csv.iloc[0,2]

'Hot'

In [37]:
#Drop Column
csv.drop("SYMBOL",axis=1)

   Obs   Outlook Tempreture  Humiodity    Wind Play Tennis
0    1  Rain New         Hot      High    Weak          No
1    2     Sunny         Hot      High  Strong          No
2    3  Overcast         Hot      High    Weak         Yes
3    4      Rain        Mild      High    Weak         Yes
4    5      Rain        Cool    Normal    Weak         Yes